<app>
  <id>gj8dl19d0</id>
  <name>Mambu XBRL Export Tool</name>
  <provider>MIX Market and Mambu</provider>
  <description>A tool to export your data in an xbrl report ready to use for mix market</description>
  <uninstallUrl>https://mixmarketapp.appspot.com/mambuxbrl/uninstall</uninstallUrl>
  <installUrl>httsp://mixmarketapp.appspot.com/mambuxbrl/install</installUrl>
  <extensionpoint>
    <location>REPORTING_VIEW</location>
    <label>XBRL Export</label>
    <url>https://mambuxbrl.appspot.com/</url>
  </extensionpoint>
</app>
